.header {
  padding-bottom: 10px;
  background-image: url(https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
}
.head {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 250px;
  border-radius: 10px;
  padding-top: 200px;
}
#caption {
  font-size: 100px;
  padding-top: 100px;
}
.blog {
  display: inline-block;
  border-style: solid;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 630px;
}
.blog1 {
  padding: 35px;
  text-align: center;
  border-color: teal;
  background-color: lightblue;
  font-family: "Kanit", sans-serif;
}
.blog1 img {
  width: 500px;
}
.blog2 {
  padding: 30px;
  text-align: center;
  margin-right: 100px;
  background-color: lightcoral;
  font-family: "Kanit", sans-serif;
}
.blog2 img {
  width: 510px;
}
.blog3 {
  padding: 30px;
  text-align: center;
  margin-right: 350px;
  background-color: lightgreen;
  font-family: "Kanit", sans-serif;
}
.blog3 img {
  width: 510px;
}
